.wave-container {
  height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wave-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 10px;
  list-style-type: none;
}
.wave-image {
  height: 50px;
  width: 50px;
}
.wave-heading {
  padding-left: 5px;
  color: #551e53;
}
.li {
  list-style-type: none;
  text-decoration: none;
  cursor: pointer;
}
.link-heading {
  text-decoration: none;
  margin: 10px;
  color: #551e53;
  font-size: 20px;
  font-weight: 800;
}
